/RegistrarUsuario.java
/RegistrarCategories.java
/RegistrarDireccionFotos.java
/RegistrarFrase.java
/RegistrarGenero.java
/RegistrarHashTag.java
/RegistrarSubCategorie.java
/RegistrarTarea.java
/RegistrarVPN.java
/UpdateUser.java
/UpdateUsers.java
